.color-primary{
    color:$color-primary;

}
.color-primary-bg{
    background:$color-primary;

}
.color-second{
    color:$color-second;

}
.color-second-bg{
    background:$color-second;

}
.color-yelo{
    color:$color-yelo;

}
.color-yelo-bg{
    background:$color-yelo;

}